[Dd]esktop.ini
.env
.vscode/
cache/
__pycache__/
.pt_real/
*.py
!main.py
!deob.py
!frames/
!frames/*.py
build_venv/
v3.13_venv/
v3.14_venv/
nuitka.bat
c.bat
*.lnk
pushone.bat
_temp_build_*/
endpoints.json
context.txt
